<body>
<div class='container' id='commentContainer'>
<h2> {{title}}</h2>
<h3>{{author}}</h3>
<br>
<div id='comments'>
	{{#each comments}}
	<p><strong>Comment: </strong>{{content}}</p>
	<p><strong>Author: </strong>{{author}}</p>
	<hr>
	{{/each}}
</div>
<form name='commentForm' action='/articles/{{id}}' method="POST">
<div class="form-group">
  <label for="author">Name:</label>
  <input type="text" class="form-control" id="author" name="author">
</div>
<div class="form-group">
  <label for="content">Comment:</label>
  <input type="text" class="form-control" id="content" name="content">
</div>
<button type="submit" class="btn btn-primary" id='commentSubmit'>Submit</button>
<a type="button" href='/' class="btn btn-primary" id="backButton">Go Back</a>
</form>
</div>
</body>